@import url('https://fonts.googleapis.com/css?family=Lobster');

/*Header Styles*/
.navbar-inverse{
  background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: rgba(51, 51, 51, .5)
}

.navbar-inverse .navbar-nav>li>a{
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  background-color: rgba(51, 51, 51, .5);
  color: #f8512f; /*base orange*/
}

/*Carousel Styles*/
.item{
  height: 425px;
  background-size: cover;
  background-position: center;
}
.carousel-flex{
  height: 425px;
  display: flex;
  align-items: center;
}
#wood-background{
  /*display: flex;*/
  /*align-items: center;*/
  background-image: url(../img/wood-2.jpg)
}
#carousel-logo{
  height: 250px;
}
#seating-background{
  background-image: url(../img/restaurant-2.jpg)
}
#farm-background{
  background-image: url(../img/farm-2.jpg)
}
.carousel-caption{
  margin-bottom: 45px;
}
button.btn-warning{
  background-color: #f8512f;
  border-color: #f8512f;
}
button.btn-warning:hover{
  background-color: #d34326;
}

/*Our Story*/
.our-story{
  margin: 10% auto;
}
.lobster-text{
  font-family: 'Lobster', cursive;
  color: #f8512f;
  text-shadow: 1px 1px 2px #313;
  font-size: 5em;
}

#our-story h3{
  margin-top: 0px;
}
.year-text{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  position: absolute;
  z-index: 0;
  color: rgba(51, 51, 51, .1);
  font-size: 170px;
}
/*End of Our Story Styles*/

/*Review Styles*/
.review-section{
  background-image: url(../img/food_review.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.review{
  background-color: rgba(0, 0, 0, .5);
  margin-top: 125px;
  margin-bottom: 125px;
}
.review h1{
  font-family: 'Lobster', cursive;
  color: #f8512f;
  text-shadow: 1px 1px 2px #313;
  font-size: 5em;
}
.review p{
  color: #fff;
  line-height: 36px;
  text-shadow: 1px 1px 2px #313;
}
/*End Review Styles*/

/*Contact Page Styles*/
#contact{
  background-color: #f8512f;
  color: #fff;
  height: 600px;
}
.contact-header{
  margin: 20px 0px;
}
.form-container{
  border: 2px solid #fff;
  padding: 20px;
  background-color: #FF6633;
}
iframe{
  width: 100%;
}
/*End Contact Styles*/
